@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.v-flex,
.flex {
  display: flex;
}

.v-flex {
  flex-direction: column;
}

.logo {
  width: 240px;
  height: 37px;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0290ff;
}

.heading {
  text-transform: uppercase;
  margin-left: 20px;
  color: rgb(153, 147, 147);
}

.selected {
  color: #000;
}

.navbar {
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
}

.profile {
  border: solid 1px #e8e8e8;
  color: #0290ff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  padding: 10px;
  text-align: center;
}

nav {
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}
